<div class="seccion-form mb-3 border p-3 rounded">
    <div class="row">
        {{ form.id }}
        {{ form.fichaTecnica }}
        
        <div class="col-md-2">
            <div class="mb-3">
                <label for="{{ form.orden.id_for_label }}" class="form-label small">Orden</label>
                {{ form.orden }}
                {% if form.orden.errors %}
                    <div class="invalid-feedback d-block">{{ form.orden.errors }}</div>
                {% endif %}
            </div>
        </div>
        
        <div class="col-md-8">
            <div class="mb-3">
                <label for="{{ form.nombre.id_for_label }}" class="form-label small">Nombre de la Sección</label>
                {{ form.nombre }}
                {% if form.nombre.errors %}
                    <div class="invalid-feedback d-block">{{ form.nombre.errors }}</div>
                {% endif %}
            </div>
        </div>
        
        <div class="col-md-2">
            <div class="d-flex justify-content-end align-items-end h-100">
                <button type="button" class="btn btn-danger btn-sm remove-seccion">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </div>
    </div>
</div> 